/* Colors */
$Color-1: #159a9c;
$Color-2: #deefe7;
$Color-3: #002333;
$Color-4: #b4bec9;
$Color-5: #ffffff;
$Color-6: #114e64;
$Color-7: #534d4d;
$Color-danger: #c0392b;
$Color-danger-hover: #f52009;
$Color-success: #159a9c;
$Color-success-hover: #2e6d6e;
$Color-date-active: #534d4d;
$Color-date-disabled: #cccccc;
